body {
    margin: 0;
    font-family: Arial, sans-serif;
}

nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color:greenyellow;
    color:black;
    padding: 15px 0;
    transition: background-color 0.3s, color 0.3s;
    z-index: 1000;
}

nav.scrolled {
    background-color:blanchedalmond;
}


nav ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
}

nav ul li {
    margin: 0 20px;
}

nav ul li a {
    color:color-mix(in srgb,orange 30%,white 40%,green 30%);
    text-decoration: none;
    transition: color 0.5s;
    font-family: 'Times New Roman', Times, serif;
    font-size:20px;
    font-weight:300;
    
}

nav ul li a:hover {
    color:black; /* Change color on hover */
}

.content {
    padding-top: 70px; /* Space for fixed navbar */
}